@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  sl-divider:not([vertical]) {
    border-top: solid var(--width) var(--color) !important;
  }
  sl-divider[vertical] {
    border-left: solid var(--width) var(--color) !important;
  }
}
