html {
  font-size: 16px;
  @apply text-neutral-300;
}
body {
  @apply m-0 lg:mx-6;

  .sl-toast-stack {
    left: 0;
    right: auto;
  }
  sl-alert pre{
    @apply break-all whitespace-pre-wrap inline;
  }
}
